<nav class="navbar navbar-expand navbar-light">
  <div class="container-fluid d-flex justify-content-center">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    ></button>
    <div class="" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link text-white" aria-current="page" href="/profile"
          >Home</a
        >
        <a class="nav-link text-white" href="#">Plan</a>
        <a class="nav-link text-white" href="/logout">Sign Out</a>
      </div>
    </div>
  </div>
</nav>
