<%- include('partials/header') -%>

    <main class="plan">
      <!-- Header -->
      <header class="header">
        <h1>Plan</h1>
      </header>
      <!-- Form -->
      <!-- <section class="form">
        <h2>Add Workout</h2>
        <form action="/addWorkout" method="POST">
          <input type="text" placeholder="Name of workout" name="name" />
          <input type="text" placeholder="Sets" name="sets" />
          <input type="text" placeholder="Reps" name="reps" />
          <div>
            <label for="days">Add To Day: </label>
            <select name="days" id="days" required>
              <option value="sunday">Sunday</option>
              <option value="monday">Monday</option>
              <option value="tuesday">Tuesday</option>
              <option value="wednesday">Wednesday</option>
              <option value="thursday">Thursday</option>
              <option value="friday">Friday</option>
              <option value="saturday">Saturday</option>
            </select>
          </div>

          <button type="submit">Submit</button>
        </form>
      </section> -->
      <!-- Workout Days -->
      <section>
        <h2>Sunday</h2>
      </section>
      <section>
        <h2>Monday</h2>
      </section>
      <section>
        <h2>Tuesday</h2>
      </section>
      <section>
        <h2>Wednesday</h2>
      </section>
      <section>
        <h2>Thursday</h2>
      </section>
      <section>
        <h2>Friday</h2>
      </section>
      <section>
        <h2>Saturday</h2>
      </section>
    </main>
  </body>
</html>

<%- include('partials/footer') -%>
