/******************************************
/* CSS
/*******************************************/
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Manrope:wght@400;800&family=Playfair+Display&family=Rubik:wght@300&family=Sora:wght@200&family=Tangerine:wght@700&family=Titan+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* font-family: 'Roboto', sans-serif; */

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url("images/weights.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

/******************************************
/* HEADER
/*******************************************/

.logo-container {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  max-width: 20rem;
}

.logo-container img {
  display: block;
  width: 100%;
  object-fit: cover;
}

section {
  /* border: 1px solid blue; */
}

/******************************************
/* FOOTER
/*******************************************/
.site-footer {
  background-color: #2e9cca;
  height: 10vh;
  max-width: 400vh;
}

/******************************************
/* LOGIN AND SIGNUP
/*******************************************/

.loginSection {
  height: 75.8vh;
  /* border: 1px solid blue; */
}

.signupSection {
  height: 75.8vh;
}

.loginContainer {
  /* height: 80vh; */
  /* width: 30vw;
  height: 50vh; */
  /* padding: 2rem;
  margin: 2rem 2rem 0 0; */
}

.loginContainer form label {
  display: inline-block;
  width: 100%;
}

.form-1 {
  /* Size and position */
  width: 340px;
  margin: 60px auto 30px;
  padding: 15px;
  position: relative;

  /* Styles */
  background: #fffaf6;
  border-radius: 4px;
  color: #7e7975;
  /* box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 0 1px 5px rgba(0, 0, 0, 0.2),
    0 0 0 12px rgba(255, 255, 255, 0.4); */
}

.form-1 h1 {
  font-size: 15px;
  font-weight: bold;
  color: #bdb5aa;
  padding-bottom: 8px;
  border-bottom: 1px solid #ebe6e2;
  text-shadow: 0 2px 0 rgba(255, 255, 255, 0.8);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

.form-1 h1 .log-in-text,
.form-1 h1 .sign-up-text {
  display: inline-block;
  text-transform: uppercase;
}

.form-1 h1 .log-in-text {
  color: #6c6763;
  padding-right: 2px;
}

.form-1 h1 .sign-up-text {
  color: #6c6763;
  padding-left: 2px;
}

.form-1 .field {
  /* Size and position */
  padding: none;

  /* Line */
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 1px 0 0 rgba(255, 255, 255, 0.7);

  /* Styles */
  /* color: #777777;
  text-align: center;
  line-height: 42px;
  transition: all 0.3s ease-out;
  pointer-events: none; */
}

.form-2 {
  font-size: 15px;
  font-weight: bold;
  color: white;
  padding-bottom: 8px;
  /* box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8); */
}

/******************************************
/* PROFILE
/*******************************************/
.profileSection {
  height: 75.8vh;
}

.profile-buttons {
  color: #AABB8;
  width: 366px;
}

/******************************************
/* PLAN
/*******************************************/
.planSection {
  height: 75.8vh;
  /* border: solid white 1px; */
}

.row {
  border: solid yellow 1px;
}

.col-10,
.col-2 {
  /* border: solid red 1px; */
}

.plan-rows {
  background-color: #29648a;
  border: solid 1px black;
}

/******************************************
/* SUNDAY
/*******************************************/

.sundaySection {
  height: 75.8vh;
  border: solid 1px white;
}

/******************************************
/* OTHER STYLES
/*******************************************/

h2 {
  font-family: "Lato", sans-serif;
}

h3 {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.add-workout-button {
  width: 175px;
}
