/******************************************
/* CSS
/*******************************************/
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Manrope:wght@400;800&family=Playfair+Display&family=Rubik:wght@300&family=Sora:wght@200&family=Tangerine:wght@700&family=Titan+One&display=swap");

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

.container {
  display: grid;
  grid-template-columns: 1fr;
  border: 1px solid black;
  text-align: center;
}

.header {
  border: 1px solid red;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

section {
  border: 1px solid blue;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/******************************************
/* MEDIA TYPES
/*******************************************/
